{{!
{
	"resources": {
		"Fauntleroy": "https://hipster-tools.herokuapp.com/hipster/v1/resources/ec9085/4-us-diablo-iii-api-profile?profile_id=Fauntleroy-1134",
		"UUUGUUUUUUUU": "https://hipster-tools.herokuapp.com/hipster/v1/resources/5647ad/3-us-diablo-iii-api-hero?hero_id=92352",
		"RhubarbVole": "https://hipster-tools.herokuapp.com/hipster/v1/resources/5647ad/3-us-diablo-iii-api-hero?hero_id=7531555",
		"VoodooFrodo": "https://hipster-tools.herokuapp.com/hipster/v1/resources/5647ad/3-us-diablo-iii-api-hero?hero_id=7698952"
	},
	"preprocessor": "index.js"
}
}}

<blockquote>Hello and welcome to Tim's Diablo website! It's so cool!</blockquote>

<div id="characters">

	<h2><i class="efon excite">@</i> Characters <i class="efon excite">Z</i></h2>

	{{> partials/characters resources.characters }}

</div>