<!DOCTYPE html>
<html>
<head>

	<title>Tim's Diablo III Website</title>

	<link rel="stylesheet" href="/compiled/styles.css" />

	<script>{{{javascript}}}</script>
	<script src="/templates.js"></script>

</head>
<body>

	<header>
		<h1><i class="efon excite">D</i> Tim's Diablo Website <i class="efon excite">*</i></h1>
	</header>

	<section id="main">{{{body}}}</div>

	<footer></footer>

</body>
</html>