{{!
{
	"resources": {
		"UUUGUUUUUUUU": "https://hipster-api.herokuapp.com/v1/preview/resources/bd66f7a3f1ba4d2a866539182905a435",
		"RhubarbVole": "https://hipster-api.herokuapp.com/v1/preview/resources/fe495a6c4ccc432d867d6baf595af035",
		"VoodooFrodo": "https://hipster-api.herokuapp.com/v1/preview/resources/581aec0715574dfa9017c17f44def58a"
	},
	"preprocessor": "index.js"
}
}}

<div id="characters">

	<h2><i class="efon excite">@</i> Characters <i class="efon excite">Z</i></h2>

	{{> partials/characters resources.characters }}

</div>